! cursor
Xcursor.theme:              Breeze

! nsxiv
Nsxiv.bar.font:             Monospace:size=15
Nsxiv.bar.background:       #3C3836
Nsxiv.bar.foreground:       #EBDBB2
Nsxiv.window.background:    #1D2021
Nsxiv.window.foreground:    #E60053
