configuration {
    modi: "window,drun,run";
    terminal: "st";
    show-icons: true;
    sidebar-mode: true;
    font: "Hack Nerd Font Propo 15";
    icon-theme: "Papirus";

    display-drun: "󰀻 Apps";
    display-window: "󰖲 Window";
    display-run: " Run";
}

@import "theme"
@import "keymaps"
