snippet get
	GET
snippet post
	POST
snippet put
	PUT
snippet patch
	PATCH
snippet delete
	DELETE
snippet cont
	Content-Type: application/json
snippet auth
	Authorization: Bearer ${0}
snippet cookie
	Cookie: ${0}
snippet sep
	###
	${0}
