snippet get
	GET
snippet post
	POST
snippet put
	PUT
snippet patch
	PATCH
snippet delete
	DELETE
snippet app
	Content-Type: application/json
snippet auth
	Authorization: Bearer ${0}
snippet cookie
	--cookie ${0}
