snippet get
	GET ${0}
snippet post
	POST ${0}
snippet put
	PUT ${0}
snippet patch
	PATCH ${0}
snippet delete
	DELETE ${0}
snippet cont
	Content-Type: application/json
	${0}
snippet auth
	Authorization: Bearer ${0}
snippet cookie
	Cookie: ${0}
snippet sep
	###
	${0}
